.banner-img-1{
    background: linear-gradient(rgba(0, 0, 0, 0.393), rgba(0, 0, 0, 0.41)),url(../images/banner.png);
    height: 80vh;
    border-radius: 5px;
    padding: 0 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 576px) {
    .banner-img-1{
        padding: 0 15px;

    }
}